.container_footer{
    background-color: #23262f;
    padding-top: 5.5rem;
    padding-bottom: 6.5rem;
}
@media (min-width: 1366px){
    .container__container__footer{
        max-width: 1430px;
    }
}
.container__container__footer {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.color_title_rank{
    color: #fff!important;
}
.title_rank{
    text-align: center;
}
.title_detail{
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-align: center;
}